<h1>Glibrary  <small>Token will expire in <%= distance_of_time_in_words($glibrary_token_expires ,Time::now()) %> </small></h1>

There are <%= $repos.count %> repositories

<div class="well">
  <table class="text-center" style="width: 100%">
    <thead>
      <tr>
        <td>
          Repo Name
        </td>
        <td>
          Path
        </td>
        <td>
          Storage
        </td>
      </tr>
    </thead>
  <% $repos.each do |repo| %>
  <tr>
    <td>
      <%= repo['name'] %>
    </td>
    <td>
      <%= repo['path'] %>
    </td>
    <td>
      <% repo['storage'] if repo['storage'].nil?%>
    </td>
  </tr>
  <% end %>


  </table>

</div>
