<h1>Glibrary index</h1>

Token will expire at <% @glibrary_token_expires.to_s %>
<div class="container text-center" style="width: 100% display: block">
  <table>
    <thead>
      <tr>
        <td>
          Language
        </td>
        <td>
          Dataset
        </td>
        <td>
          Configuration
        </td>
      </tr>
    </thead>
  </table>

</div>
