<h1>Glibrary  <small>Token will expire in <%= distance_of_time_in_words($glibrary_token_expires ,Time::now()) %> </small></h1>

There are <%= $repos.count %> repositories

<% form_tag('repo', :method => :post) do %>
<%= select("repo", "repo", $repos.parsed_response.each.map {|repo| [repo['name'], repo.to_s] }, {class: "form-control" }) %>
<% end %>
